// Base Styles for Entire Site //////////
html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-size: 1.7rem;
  font-family: $primaryFont;
  font-weight: 400;
  letter-spacing: .5px;
  color: $primaryFontColor;
  background: $primaryBackgroundColor;
}

.wrapper {
  max-width: 1024px;
  margin: 0 auto;
}

img {
  max-width: 100%;
  width: 100%;
  display: block;
  overflow: hidden;
}

// Title Styles //////////
h1,
h2,
h3 {
  font-family: $secondaryFont;
  font-weight: 400;
}

h1, 
h2 {
  letter-spacing: 0; 
}

h3 {
  letter-spacing: 1px;
}

.secondaryTitle {
  font-size: 7.8vw;
  margin: 0;
}

.heading {
  font-size: 3rem;
  margin: 0 0 10px 0;
}

.activitiesHeading,
.commentsHeading {
  font-size: 7rem;
}

// Hamburger Menu Styles
.hero,
.headerContent {
  position: relative;
}
.hero {
  .fa-bars {
  position: absolute;
  top: 25px;
  right: 25px;
  font-size: 3rem;
  visibility: hidden;
  }
}

.headerContent {
  .fa-bars {
  position: absolute;
  top: 25px;
  right: 0;
  font-size: 3rem;
  visibility: hidden;
  }
}

// Button (anchor tags) Styles /////////////////
.clickForMore {
  font-family: $secondaryFont;
  text-transform: capitalize;
  text-decoration: none;
  color: $secondaryFontColor;
  background: $accentColor;
  padding: 5px 10px;
  transition: background .3s ease-in-out;
  &:hover {
    background: $primaryFontColor;
  }
  &:active {
    color: $primaryBackgroundColor;
  }
  &:focus {
    border: 1px dotted $primaryBackgroundColor;
  }
}

// Footer Styles ///////////
footer {
  background: $footerColor;
  text-align: center;
  p {
    margin: 0;
    padding: 10px 0;
  }
}