// Contact Page Styles //////////

// Header //////////////////////
.contactHeader {
  background: url(../assets/contactHeader.jpg) top center/100% no-repeat;
  height: 70vh;
}

// Main Content ///////////////
.contactMain {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 5% 0 8% 0;
  .contactLeft {
    width: 25%;
    margin-left: 10%;
    .social ul {
      list-style: none;
      padding: 0;
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
    }
    .social li {
      margin-right: 3%;
    }
    .social a {
      padding: 5px;
      transition: color .3s ease-in-out;
    }
    p a {
      text-decoration: none;
    }
      
    .social a,
    p a {
      color: $primaryFontColor;
      &:hover {
        color: $accentColor;
      }
      &:active {
        color: $secondaryFontColor;
      }
      &:focus {
        border: 1px dotted $secondaryFontColor;
      }
      &:visited {
        color: $footerColor;
      }
    }
    .contactAddress p {
      margin: 0;
    }
  }
  .contactRight {
    width: 59%;
    margin-right: 6%;
  }
}