// Header Navigation Styles for ALL Pages //////////

.hero .menu {
  width: 80%;
}

.menu ul {
  margin: 0;
  padding: 60px 0 0 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  li {
    list-style: none;
    margin-right: 35px;
    &:last-of-type {
      margin-right: 0;
    }
    a {
      font-weight: 700;
      color: $primaryFontColor;
      letter-spacing: 1px;
      text-decoration: none;
      transition: border-bottom .3s ease-in-out;
      &:hover {
        border-bottom: 3px solid $accentColor;
      }
      &:active {
        border-bottom: 3px dashed $secondaryFontColor;
      }
      &:focus {
        border: 1px dotted $accentColor;
      }
    }
  }
}

.secondaryMenu ul {
  padding-bottom: 30px;
}