// Responsive Design Queries ///////////////

@media (max-width:1080px) {
  // Index Header 
  // Index Section 1 - About
  .info {
    width: 80%;
    .infoContent {
      margin: 0 8%;
    }
  }
  // Index Section 2 - Programs/Locations
  .programsLocations {
    .programsInfo,
    .locationsInfo {
      width: 39%;
      h2 {
        margin-top: 0;
      }
    }
    .programsInfo {
      margin-top: 4%;
      margin-right: 4%;
    }
    .locationsInfo {
      margin-top: 0;
      margin-left: 4%;
    }
  }
  // Index Section 5 - Events
  .events {
    width: 80%;
    .eventsLeft{
      width: 26%;
    }
    .eventsRight {
      width: 65%;
      p {
        margin-bottom: 5%;
      }
    }
  }
  // Index Section 6 - Gallery
  .gallery {
    width: 80%;
  }
  // Blog & Contact Header
  .blogHeader {
    height: 58vh;
  }
  .headerContent {
    width: 80%;
  }
  // Contact Page - Main Content
  .contactMain {
    .contactLeft {
      width: 27%;
      margin-left: 9%;
    }
    .contactRight {
      width: 51%;
      margin-left: 7%;
      .contactForm {
        margin-top: -40%;
      }
    }
  }
}

////////////////////////////////////
// Portrait tablet and small desktops
@media (max-width:940px) {
  // Index Section 2 - Programs/Locations
  .programsLocations {
    .programs {
      flex-direction: column;
      .programsImage,
      .programsInfo {
        width: 75%;
        margin: 0 auto;
        text-align: center;
      }
      .programsInfo {
        margin-top: 6%;
        margin-bottom: 4%;
      }
      .programsImage img {
        margin-top: 7%;
      }
    }
    .locations {
      flex-direction: column-reverse;
      .locationsImage,
      .locationsInfo {
        width: 75%;
        margin: 0 auto;
        text-align: center;
      }
      .locationsInfo {
        margin-top: 10%;
        margin-bottom: 6%;
      }
    }
  }
  // Index Section 3 - Road Trips
  .roadTrips {
    width: 80%;
  }
  // Index Section 5 - Events
  .events {
    .eventsLeft{
      width: 30%;
    }
    .eventsRight {
      width: 61%;
    }
  }
  // Blog Header
  .blogHeader {
    height: 50vh;
  }
  // Contact Header
  .contactHeader {
    height: 52vh;
  }
  // Contact Page - Main Content
  .contactMain {
    flex-direction: column-reverse;
    .contactLeft {
      width: 80%;
      margin: 8% auto 0;
      text-align: center;
      .social ul {
        justify-content: space-between;
        width: 40%;
        margin: 0 auto;
      }
      .social a {
        font-size: 2.5rem;
      }
    }
    .contactRight {
      width: 80%;
      margin: 0 auto;
      .contactForm {
        margin: 0;
      }
    }
  }
}
////////////////////////////////////
// Landscape phone to portrait tablet
@media (max-width:768px) {
  // Index Header
  .hero {
    background-position: left;
    background-size: cover;
    height: 75vh;
    .indexHeader {
      h1 {
        font-size: 13vw;
        width: 60%;
        margin: 0 auto;
        padding: 14% 0;
      }
      img {
      display:none;
      }
    }
  }

  .menu ul {
    justify-content: space-evenly;
    padding-top: 13%;
    li {
      margin-right: 10%;
    }
  }
  // Index Section 1 - About
  .info {
    flex-direction: column;
    .infoContainer {
      width: 100%;
      margin: 2% 0;
      .infoContent {
        margin: 0 5%;
      }
    }
  }
  // Index Section 3 - Road Trips
  .roadTrips {
    padding-bottom: 10%;
    p {
      margin-bottom: 7%;
    }
  }
  // Index Section 4 - Pool Image
  .pool img {
    height: 45vh;
    object-fit: cover;
  }
  // Index Section 5 - Events
  .events {
    flex-direction: column;
    .eventsLeft,
    .eventsRight {
      width: 100%;
      margin: 0 auto;
    }
    .eventsRight {
      text-align: center;
      margin-top: 10%;
    }
  }
  // Blog Page Header
  .blogHeader {
    background-position: 10%;
    background-size: cover;
    height: 75vh;
  }
  // Blog Page & Contact Page Header
  .headerContent h1 {
    font-size: 13vw;
    text-align: center;
    width: 100%;
    margin: 0 auto;
    padding: 8% 0;
  }
  // Blog Page - Main Content
  .blogMain {
    flex-direction: column;
    .blogLeft {
      width: 65%;
      margin: 0 auto;
      }
      h3 {
        font-size: 2.3rem;
      }
    .blogRight {
      width: 80%;
      margin: 0 auto;
      margin-top: 10%;
      .activitiesHeading,
      .commentsHeading {
        font-size: 9vw;
      }
    }
    p {
      font-size: 1.6rem;
    }
  }
  // Contact Header
  .contactHeader {
    background-size: cover;
    height: 75vh;
  }
}

////////////////////////////////////
// Landscape phones and down (smallest screen size 320px)
@media (max-width:480px) {
  // Hamburger Menu for All Pages
  .hero {
    .fa-bars {
    visibility: visible;
    }
  }
  .headerContent {
    .fa-bars {
      visibility: visible;
    }
  }
  .menu {
    display: none;
  }
  .indexHeader {
    margin: 0;
    padding-top: 50%;
  }
  .headerContent {
    padding-top: 50%;
  }

  // Index Section 1 - About
  .info {
    padding-top: 10%;
  }
  // Index Section 2 - Programs/Locations
  .programsLocations {
    padding: 5% 0;
    .programsInfo h2 {
      margin-top: 4%;
    }
    .locationsInfo h2{
      margin-top: 10%;
    }
  }
  // Index Section 3 - Road Trips
  .roadTrips {
    p {
      margin-bottom: 9%;
    }
  }
  // Index Section 5 - Events
  .events {
    .eventsRight {
      h2 {
        margin-top: 6%;
      }
      p {
        margin: 8% 0;
      }
    }
  }
  // Index Section 6 - Gallery
  .gallerySection {
    .gallery {
      flex-direction: column;
      .galleryImage {
        width: 100%;
        margin: 5% 0;
      }
    }
  }
  // Blog Page - Aside & Section
  .blogMain {
    .blogLeft {
      .mission {
        margin: 0;
        padding: 7px 7px 7px 30px;
      }
    }
    .blogRight {
      .activitiesDescription {
        padding: 12% 0 10% 6%;
        margin-bottom: 5%;
      }
      .activitiesHeading,
      .commentsHeading {
        font-size: 4.3rem;
      }
    }
  }
  // Blog Page - Comments Form
  form input[id="name"], 
  form input[id="email"] {
    width: 97%;
  }
  // Contact Page - Main Content
  .contactMain {
    margin-top: 10%;
    .contactLeft {
      margin-top: 13%;
      margin-bottom: 4%;
    }
  }
}