// Colours ///////////
$primaryFontColor: #f3faff;
$secondaryFontColor: #474bb5;
$primaryBackgroundColor: #03697c;
$secondaryBackgroundColor: #474bb5;
$accentColor: #08fded;
$footerColor: #044779;
//////////////////////

// Fonts /////////////
$primaryFont: 'Roboto', sans-serif;
$secondaryFont: 'Walter Turncoat', cursive;
//////////////////////


@mixin flexbox($type, $direction, $alignment) {
   display: $type;
   flex-direction: $direction;
   justify-content: $alignment;
}

// how to pass mixin in 

// .classname {
//    @include flexbox(whichever direction you want, next type, next type)
// }