@charset "UTF-8";
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block; }

audio, canvas, video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden] {
  display: none; }

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

a:focus {
  outline: thin dotted; }

a:active, a:hover {
  outline: 0; }

h1 {
  font-size: 2em; }

abbr[title] {
  border-bottom: 1px dotted; }

b, strong {
  font-weight: 700; }

dfn {
  font-style: italic; }

mark {
  background: #ff0;
  color: #000; }

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em; }

pre {
  white-space: pre-wrap;
  word-wrap: break-word; }

q {
  quotes: \201C \201D \2018 \2019; }

small {
  font-size: 80%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -.5em; }

sub {
  bottom: -.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em; }

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0; }

button, input {
  line-height: normal; }

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled], input[disabled] {
  cursor: default; }

input[type=checkbox], input[type=radio] {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0; }

input[type=search] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none; }

textarea {
  overflow: auto;
  vertical-align: top; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body, figure {
  margin: 0; }

legend, button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0; }

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

.visuallyHidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
  clip: rect(0 0 0);
  overflow: hidden; }

html {
  font-size: 62.5%;
  scroll-behavior: smooth; }

body {
  font-size: 1.7rem;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  letter-spacing: .5px;
  color: #f3faff;
  background: #03697c; }

.wrapper {
  max-width: 1024px;
  margin: 0 auto; }

img {
  max-width: 100%;
  width: 100%;
  display: block; }

h1,
h2,
h3 {
  font-family: "Walter Turncoat", cursive;
  font-weight: 400; }

h1,
h2 {
  letter-spacing: 0; }

h3 {
  letter-spacing: 1px; }

.secondaryTitle {
  font-size: 10rem;
  margin: 0; }

.heading {
  font-size: 3rem;
  margin: 0 0 10px 0; }

.activitiesHeading,
.commentsHeading {
  font-size: 7rem; }

.clickForMore {
  font-family: "Walter Turncoat", cursive;
  text-transform: capitalize;
  text-decoration: none;
  color: #474bb5;
  background: #08fded;
  padding: 5px 10px;
  -webkit-transition: background .3s ease-in-out;
  -o-transition: background .3s ease-in-out;
  transition: background .3s ease-in-out; }
  .clickForMore:hover {
    background: #f3faff; }

.menu ul {
  margin: 0;
  padding: 60px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }
  .menu ul li {
    list-style: none;
    margin-right: 35px; }
    .menu ul li:last-of-type {
      margin-right: 0; }
    .menu ul li a {
      font-weight: 700;
      color: #f3faff;
      letter-spacing: 1px;
      text-decoration: none;
      -webkit-transition: border-bottom .3s ease-in-out;
      -o-transition: border-bottom .3s ease-in-out;
      transition: border-bottom .3s ease-in-out; }
      .menu ul li a:hover {
        border-bottom: 3px solid #08fded; }

.blogMenu ul,
.contactMenu ul {
  padding-bottom: 30px; }

.hero {
  background: url(../../assets/homeHeader.jpg) top center/100% no-repeat;
  height: 110vh; }

.indexHeader {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  margin: 43px 0 100px 0; }
  .indexHeader h1 {
    font-size: 11.52rem;
    width: 44%;
    margin-left: 9%;
    margin-right: 3%;
    padding-top: 27px; }
  .indexHeader img {
    width: 56%; }

.info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding: 4% 0 8% 0; }
  .info .space,
  .info .community,
  .info .blog,
  .info .touch {
    width: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row; }
    .info .space .fas,
    .info .community .fas,
    .info .blog .fas,
    .info .touch .fas {
      background: #08fded;
      color: #474bb5;
      width: 40px;
      height: 40px;
      line-height: 40px;
      border-radius: 50%;
      text-align: center;
      vertical-align: middle;
      font-size: 2rem;
      margin-top: 5px; }
    .info .space .infoContent,
    .info .community .infoContent,
    .info .blog .infoContent,
    .info .touch .infoContent {
      margin: 0 10px; }

.programsLocations {
  background: #474bb5; }
  .programsLocations .programs,
  .programsLocations .locations {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between; }
  .programsLocations .programs {
    margin-bottom: 50px; }
  .programsLocations .programsImage,
  .programsLocations .locationsImage {
    width: 43%; }
  .programsLocations .programsImage img {
    -webkit-box-shadow: 20px 20px 0 -5px #08fded;
    box-shadow: 20px 20px 0 -5px #08fded;
    margin-top: -30px; }
  .programsLocations .locationsImage img {
    -webkit-box-shadow: -20px 20px 0 -5px #08fded;
    box-shadow: -20px 20px 0 -5px #08fded;
    margin-bottom: -30px; }
  .programsLocations .programsInfo,
  .programsLocations .locationsInfo {
    width: 34%; }
  .programsLocations .programsInfo {
    margin-top: 6%;
    margin-right: 9%; }
  .programsLocations .locationsInfo {
    text-align: right;
    margin-top: 2%;
    margin-left: 9%; }
  .programsLocations h2 {
    letter-spacing: 1.3px;
    margin-bottom: 0px; }
  .programsLocations p {
    margin: 10px 0 30px; }

.roadTrips {
  padding: 8% 0 6% 0;
  text-align: center;
  width: 66%; }
  .roadTrips p {
    margin-bottom: 4%; }

.events {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding: 8% 0; }
  .events .eventsLeft {
    width: 21.5%;
    margin-right: 4%;
    margin-left: 1%; }
    .events .eventsLeft img {
      -webkit-box-shadow: -15px 15px 0 0 #08fded;
      box-shadow: -15px 15px 0 0 #08fded; }
  .events .eventsRight {
    width: 69%;
    margin-left: 4%; }
    .events .eventsRight .heading {
      line-height: 0.85; }

.gallerySection {
  background: #474bb5; }
  .gallerySection .gallery {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding: 6% 0; }
    .gallerySection .gallery .galleryImage {
      width: calc(33.33% - 20px);
      margin-right: 30px; }
    .gallerySection .gallery .gallery3 {
      margin-right: 0; }

.blogHeader {
  background: url(../../assets/blogHeader.jpg) top center/100% no-repeat;
  height: 70vh; }

.blogMain {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap; }
  .blogMain .blogLeft {
    width: 30%;
    margin-right: 5%;
    padding-top: 6%; }
    .blogMain .blogLeft .mission {
      background: #474bb5;
      width: 86%;
      padding: 7px 40px 5px 30px;
      margin: -5px 0 0 75px; }
    .blogMain .blogLeft img {
      -webkit-box-shadow: 30px 9px 0 -9px #474bb5;
      box-shadow: 30px 9px 0 -9px #474bb5; }
    .blogMain .blogLeft h3 {
      margin-bottom: 10px; }
    .blogMain .blogLeft p {
      margin: 10px 0 40px 0;
      line-height: 1.5; }
    .blogMain .blogLeft ul {
      list-style: none;
      padding: 0; }
    .blogMain .blogLeft li::before {
      content: "•";
      color: #08fded;
      line-height: 1.5;
      margin-right: 15px; }
  .blogMain .blogRight {
    width: 61%;
    margin-left: 4%;
    margin-top: -11%; }
    .blogMain .blogRight .activitiesImage img {
      -webkit-box-shadow: -25px 25px 0 -5px #08fded;
      box-shadow: -25px 25px 0 -5px #08fded; }
    .blogMain .blogRight .activitiesHeading {
      margin: 0;
      line-height: 1; }
    .blogMain .blogRight .activitiesDescription {
      border-left: 3px solid #08fded;
      border-bottom: 3px solid #08fded;
      margin: -5px 0 0 -20px;
      padding: 8% 11%; }
    .blogMain .blogRight .comments {
      padding: 2% 10% 0 8%; }
    .blogMain .blogRight .commentsHeading {
      margin: 2% 0; }
    .blogMain .blogRight .comment1,
    .blogMain .blogRight .comment2 {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -ms-flex-direction: row;
      flex-direction: row;
      -ms-flex-wrap: nowrap;
      flex-wrap: nowrap; }
    .blogMain .blogRight .comment1 {
      margin-bottom: 8%; }
    .blogMain .blogRight .comment2 {
      margin-bottom: 2%; }
    .blogMain .blogRight .commentImage {
      width: 12%; }
    .blogMain .blogRight .commentInfo {
      width: 83%;
      margin-left: 5%; }
    .blogMain .blogRight .commentDate {
      font-weight: 700;
      font-style: italic;
      margin: 0; }
    .blogMain .blogRight .commentPara {
      margin: 10px 0 30px 0; }

.contactHeader {
  background: url(../../assets/contactHeader.jpg) top center/100% no-repeat;
  height: 70vh; }

.contactMain {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin: 5% 0 8% 0; }
  .contactMain .contactLeft {
    width: 25%;
    margin-left: 10%; }
    .contactMain .contactLeft .social ul {
      list-style: none;
      padding: 0;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -ms-flex-direction: row;
      flex-direction: row;
      -ms-flex-wrap: nowrap;
      flex-wrap: nowrap; }
    .contactMain .contactLeft .social li {
      margin-right: 3%; }
    .contactMain .contactLeft .social a {
      color: #f3faff;
      padding: 5px;
      -webkit-transition: color .3s ease-in-out;
      -o-transition: color .3s ease-in-out;
      transition: color .3s ease-in-out; }
      .contactMain .contactLeft .social a:hover {
        color: #08fded; }
    .contactMain .contactLeft p a {
      color: #f3faff;
      text-decoration: none; }
    .contactMain .contactLeft .contactAddress p {
      margin: 0; }
  .contactMain .contactRight {
    width: 59%;
    margin-right: 6%; }

form input[id=name],
form input[id=email],
form textarea {
  color: #f3faff;
  padding: 20px; }
  form input[id=name]::-webkit-input-placeholder,
  form input[id=email]::-webkit-input-placeholder,
  form textarea::-webkit-input-placeholder {
    opacity: 1; }
  form input[id=name]:-ms-input-placeholder,
  form input[id=email]:-ms-input-placeholder,
  form textarea:-ms-input-placeholder {
    opacity: 1; }
  form input[id=name]::-ms-input-placeholder,
  form input[id=email]::-ms-input-placeholder,
  form textarea::-ms-input-placeholder {
    opacity: 1; }
  form input[id=name]::placeholder,
  form input[id=email]::placeholder,
  form textarea::placeholder {
    opacity: 1; }

form input[id=name],
form input[id=email] {
  width: 46.5%;
  margin-bottom: 30px;
  border: none; }

form input[id=name] {
  margin-right: 3%; }

form button {
  display: block;
  width: 96.7%;
  font-family: "Walter Turncoat", cursive;
  color: #474bb5;
  text-transform: capitalize;
  background: #08fded;
  border: 1px solid #08fded;
  padding: 5px;
  margin: 5% 0 10% 0;
  -webkit-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out; }
  form button:hover {
    background: #f3faff;
    border: 1px solid #f3faff; }

.commentForm {
  padding: 0 6%; }
  .commentForm input[id=name],
  .commentForm input[id=email],
  .commentForm textarea {
    background: #03697c; }
  .commentForm input[id=name],
  .commentForm input[id=email] {
    border-bottom: 1px solid #08fded; }
  .commentForm textarea {
    border: 1px solid #08fded; }

.contactForm {
  padding: 7% 4% 1% 6%;
  background: #474bb5;
  margin-top: -26%;
  -webkit-box-shadow: 20px 20px 0 -5px #08fded;
  box-shadow: 20px 20px 0 -5px #08fded; }
  .contactForm input[id=name],
  .contactForm input[id=email],
  .contactForm textarea {
    background: #474bb5; }
  .contactForm input[id=name],
  .contactForm input[id=email] {
    border-bottom: 1px solid #f3faff; }
  .contactForm textarea {
    border: 1px solid #f3faff; }

footer {
  background: #044779;
  text-align: center; }
  footer p {
    margin: 0;
    padding: 15px 0 20px 0; }
